body,
h1,
h2,
p,
ul,
li,
a {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: "Trebuchet MS", Sans-serif;
    color: #222222;
    background: #f1c8c2;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    /* display: block; */
    max-width: 100%;
}

* {
    box-sizing: border-box;
}


/*Main-Menu*/

.main-menu-bg {}

.main-menu {
    max-width: 1175px;
    margin: 0 auto;
    padding: 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.main-menu a {
    color: white;
}

.main-menu-logo a {
    font-size: 2.25em;
    font-weight: bold;
    margin: 0 10px;
}

.main-menu-logo a img {
    padding: 4px 0px;
}

.main-menu-nav ul {
    display: flex;
    flex-wrap: wrap;
}

.main-menu-nav a {
    font-size: 0.875em;
    display: block;
    padding: 10px;
    text-transform: uppercase;
    font-weight: 500;
    border: 3px solid white;
    margin: 10px;
}

.main-menu-nav a:hover {
    border: 4px solid white;
}

.box {
    width: 280px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.btn-lunne {
    background-color: white;
    border: 0px solid #f1c8c2;
    color: #f1c8c2;
    font-weight: bold;
}

.btn-lunne:hover {
    background-color: #f1c8c2;
    border: 0px solid white;
    color: white;
    font-weight: bold;
}

.title-center {
    color: #8e8e8e;
    text-align: center;
    margin: 30px 0px;
}

.btn-secondary {
    background-color: white;
    border: 0px solid #f1c8c2;
    color: #f1c8c2;
    font-weight: bold;
}

.btn-secondary:hover {
    background-color: #f1c8c2;
    border: 0px solid white;
    color: white;
    font-weight: bold;
}

.text-table-head {
    text-align: center;
    color: #8e8e8e;
    font-weight: bold;
}

.fa-trash,
.fa-edit {
    color: #f1c8c2;
    padding: 0px 5px;
}